body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    max-height: 100%;
    font-family: Sans-serif;
    line-height: 1.5em;
    background: #fff;
}
#nav {
    position: absolute;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    right: 0;
    padding-left: 15px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    width: 230px;
    /* Width of navigation frame */
    
    height: 100%;
    overflow: hidden;
    /* Disables scrollbars on the navigation frame. To enable scrollbars, change "hidden" to "scroll" */
    
    background: #eee;
}
.main {
    position: fixed;
    top: 0;
    left: 0;
    right: 230px; /* Set this to the width of the navigation frame */
    height: 100%;
    bottom: 0;
    overflow: auto;
    background: #FDFDFD;
}
.main .inner {
    margin: 15px 20%;
   
}
p {
    color: #555;
}

.main .inner ul li {
    color: #555;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav ul a {
    color: darkgreen;
    text-decoration: none;
}
/*IE6 fix*/

body {
    padding: 0 230px 0 0;
    /* Set the second value to the width of the navigation frame */
}

.inner h1 {
	text-align:center;
    font-family: 'Fenix', serif;
    font-size: 350%;

}
.inner h2 {
    font-family: 'Fenix', serif;
    font-size: 250%;
}

.inner p {
    font-family: 'Roboto', sans-serif;

}

hr {
    color: darkgreen;
}

.chapter {
    margin: 100px 0;
    background-color: #f2f2f2;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
    padding: 12px;
}

#intro {
    background-color: #f2f2f2;
    padding: 12px;
    border-radius: 6px;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
    box-shadow:         3px 3px 5px 6px #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}











